@import "src/styles/helpers";
.booking-modal {
  position: fixed;
  top: 25%;
  left: 11%;
  transform: translate(-50%, -50%);
  background: #b2b3b2;
  border-radius: 16px;
  padding: 24px;
  padding-top: 0px;
  height: 257px;
  width: 249px;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin: auto;
  .image_modal{
    margin-top: 62px;
    width: 70px;
    height: 70px;
  }
}

.booking-modal img {
  width: 128px;
  height: 128px;
  margin-bottom: 16px;
}

.booking-modal div {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23px;
  color: $n8;
}

.booking-modal p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.23px;
  color: $n8;
}
