@import "src/styles/helpers";
.category-sections {
  .category-section {
    margin-bottom: 20px;
  }
  .establishment-list {
    display: inline-flex;
    padding-left: 16px;
    gap: 8px;
  }

  .detailed-view {
    .establishment-list.detailed {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      //padding-right: 16px;
      @include indexPadding
    }
  }

  .category-header {
    @include indexPadding;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      color: $n8;
      @include title1-s;
    }

    .view-all, button {
      background: none;
      border: none;
      color: $p1;
      cursor: pointer;
      font-size: 14px;
    }
  }
}