.image-slider {
  width: 100vw;
  height: 292px;
  overflow: hidden;
  position: relative;
}

.slider-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-image {
  width: 100vw;
  height: 292px;
  object-fit: cover;
  //position: absolute;
  //top: 0;
  //left: 0;
}

.progress-indicator {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 90%;
  z-index: 10;
  //padding: 0 10%;
  padding-left: 20px;
  padding-right: 20px;
}

.progress-segment {
  flex: 1;
  height: 2px;
  margin: 0 2px;
  z-index: 11;
  background-color: #ccc;
  border-radius: 2px;
  overflow: hidden;
  //max-width: 80%;
  //padding: 0 30px;
}

.progress-bar {
  height: 100%;
  background-color: white;
  border-radius: 2px;
}
