@import "src/styles/helpers";
.subcategories{
  @include indexPadding;

}
.subcategory-bar {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
}

.subcategory-button {
  padding: 8px 12px;
  margin-right: 10px;
  border: 1px solid #c6c6c8;
  border-radius: 33px;
  cursor: pointer;
  user-select: none;
  color: $n8;
  @include caption1-m;
  &.active{
      background-color: rgba(0, 0, 0, 0.1);
  }
}


.subcategory-label {
  @include body1-m;
  color: $n6;
}
