@import "src/styles/helpers";
.navigate-bar {
  display: flex;
  gap: 4px;
  @include indexPadding;

}

.navigate-button {
  background-color: #7676801F;
  border: none;
  border-radius: 10px;
  padding: 7px 14px;
  color: $n8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: background-color 0.3s;
  @include body1-m;

  &.active {
    background-color: $n8;
    color: $n;
  }

}
