.book_details{
  border-bottom: 1px solid #3C3C431F;
    color:#000;
  padding: 16px;
    background-color: #7676801F;
  margin-bottom: 20px;

  h3{
    margin-top: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.4300000071525574px;
    text-align: left;

  }

  p{
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.23000000417232513px;
    text-align: left;

  }

  span{
    color: #3C3C4399;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.23000000417232513px;
    text-align: left;

  }

}