@import "src/styles/helpers";
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
  gap: 8px;
  border-radius: 12px;
  font-family: 'SF Pro Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.23px;
  text-align: center;
  transition: all 0.3s ease;

  &.primary {
    background: #045BFF;
    color: #ffffff;
    border: none;
    @include body1-s;
    line-height: 20px;

    &:hover {
      opacity: 0.85;
    }

    &:active {
      opacity: 0.65;
    }

    &.disabled {
      opacity: 0.35;
    }
  }

  &.secondary {
    background: rgba(0, 0, 0, 0.04);
    color: rgba(0, 0, 0, 0.8);
    border: none;
    //border: 1px dashed #9747FF;

    &:hover {
      background: rgba(0, 0, 0, 0.06);
    }

    &:active {
      opacity: 0.65;
    }

    &.disabled {
      opacity: 0.35;
    }
  }

  .label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
